.titulo-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5vw;
}

.conteudo {
    display: flex;
    flex-direction: row;
    margin: 24px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imagem-pagina img {
    height: 20vw;
    width: 34vw;
    border-radius: 10px;
}

.conteudo-texto-paragrafos {
    text-align: justify;
}

.rodape-titulo {
    padding: 32px;
    text-align: center;
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: black;
    background-color: aqua;
}